In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split

import lightgbm as lgb
from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score

from feature_engine.encoding import WoEEncoder
from feature_engine.imputation import CategoricalImputer
from feature_engine.imputation import ArbitraryNumberImputer

from sklearn.feature_selection import RFECV
from sklearn.preprocessing import StandardScaler

import warnings

In [4]:
train = pd.read_csv(
    r"C:\Users\Dell\Documents\AI\Risk\Data\Data\train.csv",
    index_col=False
)

In [5]:
sample_fraction = train.sample(frac=0.1, random_state=42)

In [6]:
sample_fraction.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_11,FLAG_DOCUMENT_18,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
232923,369780,0,Cash loans,F,N,Y,2,72000.0,198666.0,15696.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
263698,405321,0,Cash loans,F,N,N,0,221400.0,247500.0,9814.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
36463,142233,0,Cash loans,M,N,N,0,360000.0,521136.0,54855.0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
279380,423634,0,Cash loans,M,Y,Y,0,360000.0,824917.5,39816.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
148324,271981,0,Cash loans,F,N,Y,0,135000.0,628114.5,22689.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0