In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split

import lightgbm as lgb
from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score

from feature_engine.encoding import WoEEncoder
from feature_engine.imputation import CategoricalImputer
from feature_engine.imputation import ArbitraryNumberImputer

from sklearn.feature_selection import RFECV
from sklearn.preprocessing import StandardScaler

import warnings

In [3]:
pd.set_option('use_inf_as_na', True)

data = pd.read_csv(
    r"C:\Users\Dell\Documents\AI\Risk\Data\Data\Data\data.csv",
    index_col=False
)

In [4]:
data.shape

(248717, 156)

In [5]:
data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,RANGE_DAYS_LAST_DUE,NUM_PREVIOUS_APPLICATIONS_y,SUM_AMT_INSTALMENT,AVG_AMT_INSTALMENT,SUM_AMT_PAYMENT,AVG_AMT_PAYMENT,MAX_AMT_PAYMENT,MIN_AMT_PAYMENT,SUM_AMT_PAYMENT/SUM_AMT_INSTALMENT,MEAN_AMT_PAYMENT-MEAN_AMT_INSTALMENT
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0.0,19,219625.700,11559.247,219625.700,11559.247,53093.746,9251.775,1.000000,0.00000
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,1444.0,25,1618864.600,64754.586,1618864.600,64754.586,560835.400,6662.970,1.000000,0.00000
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0.0,3,21288.465,7096.155,21288.465,7096.155,10573.965,5357.250,1.000000,0.00000
3,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,99645.0,66,835985.300,12666.444,806127.940,12214.060,22678.785,0.180,0.964285,-452.38477
4,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,...,99930.0,35,969603.750,27702.965,957617.560,27360.502,432218.280,227.160,0.987638,-342.46290